.App {
  text-align: center;
  
}

.background {
  background-color: aquamarine;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

/* GridBox */
.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 0.7fr 1.7fr 0.9fr 0.9fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "Navbar       Navbar         Navbar       Navbar        Navbar"
    "Logo         Logo           Search       Login         Login"
    "UserTab      MainArea      MainArea      MainArea       Blank"
    "UserTab       MainArea      MainArea     MainArea       Blank"
    "Blank-bottom Blank-bottom  Blank-bottom Blank-bottom Blank-bottom";
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgb(255, 100, 178) 0%, rgba(255,68,221,1) 15%, rgba(148,187,233,1) 63%, rgba(148,233,209,1) 100%);
    font-family: Andale Mono, monospace;
  
}
.UserTab { grid-area: UserTab; }



/* --------NAVBAR CSS------------ */

.Navbar {
  /*border: 2px solid red; */
  /*background: white;*/
  height: 80px;
  display: flex;
  text-align: center;
  padding: 30px 0px;
}

.Navbar img {
  width:200px; /* you can use % */
  height: auto;
}

.navbarbuttons {
  background-color:  rgb(255, 100, 178);
  border: none;
  color: yellow;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 1.5%;
  border-radius: 15px;
 /*text-decoration:none; */
}

.navbarbuttons a {
  color: white;
  text-decoration: none; /* no underline */
}

.linksdiv {
  margin-left: 30.5%;
  margin-right: 30.5%;
}

/* ---------end-------- */



.Logo { 
  grid-area: Logo; 
  margin: auto;
  padding: 4px;
  border: 2px solid red; 
  /* border-radius: 3px; */
  /* background: rgba(238, 174, 202, 0.212); */
  /* max-height: 50px; */
}
.Search { 
  grid-area: Search; 
  margin: auto;
  text-align: center;
}
.MainArea { grid-area: MainArea; }
.Login { 
  grid-area: Login; 
  margin: auto;
}
.Blank { 
  grid-area: Blank; 
  height: 630px;
  float: right;

}
.Blank-bottom { grid-area: Blank-bottom; }




/*<div class="grid-container">
  <div class="UserTab"></div>
  <div class="Logo"></div>
  <div class="Search"></div>
  <div class="MainArea"></div>
  <div class="Login"></div>
  <div class="Blank"></div>
</div> */
/* gridbox end */

/* Table CSS HERE */
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

.table {
  margin-left: auto;
  margin-right: auto;
  overflow-y:auto
}

th, td {
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 /*text-decoration:none; */
 
}

.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.search {
  position: relative;
  width: 190px;
  height: 30px;
}


/* list card */

.card {
  /* border: 2px solid red; */
  text-align: left;
  border: 1px #000 solid;
  border-radius: 25px;
  padding: 1rem;
  width: stretch;
  height: auto;
  display: flex;

  margin: 1rem 0.5rem;
  background-color: #ffffff;
}

.card img {
  /* border: 2px solid red; */
  flex: 0 1 auto;
  height: 150px;
  width: 150px;
  margin-right: 0.5rem;
  /* cursor: pointer; */
}

.div1 {
  /*border: 2px solid red; */
  margin-left: 1%;
  margin-right: 3.5%;
}

.div2 {
  /*border: 2px solid red; */
  flex: 1 10px;
}

.div3 {
  /*border: 2px solid red; */
  flex: -1px;
}

.cardbutton {
  background-color: black; 
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 1.5%;
  border-radius: 15px;
 /*text-decoration:none; */
}

/* ---------end-------- */



/* -----HOME PAGE CSS -------- */

.flex-container {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.long{
  height: 500px;
  width: 500px;
  /*text-align: center; */
  /* border: 2px solid red; */
}

.videodiv {
  padding-top: 17px;
}

.homecard {
  /* border: 2px solid red; */
  text-align: left;
  border: 1px #000 solid;
  border-radius: 25px;
  padding: 1rem;
  width: stretch;
  height: auto;
  display: flex;

  margin: 1rem 0.5rem;
  background-color: #ffffff;
}

.homecard img {
  /* border: 2px solid red; */
  flex: 0 1 auto;
  height: 90px;
  width: 90px;
  margin-right: 0.5rem;
  /* cursor: pointer; */
}

.homevideodbutton {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 1.5%;
  border-radius: 15px;
  cursor: pointer;
 /*text-decoration:none; */
}

.flex-container {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
}

.flex-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: white; */
  padding: 30px 30px;
}

.flex-icons img {
  flex: 0 1 auto;
  height: 90px;
  width: 90px;
  margin-right: 0.5rem;
}

/* ---------end-------- */


/* -----SIGN UP PAGE CSS -------- */

/* Fill entire div with image */

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 0%;
  width: 1000px;
  height: 200px;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


/* sign up button */

.signupbutton {
  background-color: black; 
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-right: 1.5%;
  border-radius: 15px;
 /*text-decoration:none; */
}

.buttondiv {
  /* border: 2px solid red; */
  padding-top: 15px;
  padding-bottom: 25px;
  margin-left: 0%;
  margin-right: 3.5%;
}

.fillsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 2.5%;
  max-width: 200px;
  max-height: 500px;

}
.fillsignup img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.cardlogin {
  /* border: 2px solid red; */
  text-align: left;
  border: 1px #000 solid;
  border-radius: 25px;
  padding: 1rem;
  width: 800px;
  height: auto;
  display: flex;

  margin: 1rem 1rem;
  background-color: #ffffff;
}



/* --------end--------- */



/* slider menu */

.slider-menu {
  display: flex;
  /* border: 2px solid red; */
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

.slider-menu2 {
  display: flex;
  /* border: 2px solid red; */
  overflow-x: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
  
}

.slider-menu img {
  /* border: 2px solid red; */
  flex: 0 1 auto;
  height: 120px;
}

.slider-menu img:last-child {
  margin-right: 0;
}

.outer {
  position: relative;
  margin-top: 0px;
  width:160px;
}


/* --------end--------- */




/* ---- event details  */

.eventcard {
  /* border: 2px solid red; */
  /* text-align: lft; */
  margin: auto;
  text-align: center;
  border: 2px #000 solid;
  border-radius: 20px;
  padding: 1rem;
  width: auto;
  height: auto;
  /* display: flex; */

  margin: 1rem 0.5rem;
  background-color: #80f6ff80;
}

/* image css */

.imgShow {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}

.imgShow:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}






/* Show Event Css */




/* Search row filters CSS */

.searchdiv1 {
  /*border: 2px solid red; */
  margin-left: 0%;
  margin-right: 4.5%;
}

.searchdiv2 {
  /*border: 2px solid red; */
  flex: 1 10px;
  margin-left: 0%;
  margin-right: 4.5%;
}

.searchdiv3 {
  /*border: 2px solid red; */
  flex: -1px;
}

/* --------end--------- */