.App {
  text-align: center;
}


/* Table CSS HERE */
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

.table {
  margin-left: auto;
  margin-right: auto;
  overflow-y:auto
}

th, td {
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
